<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Contributers</h1>
        <p>We are a group of mostly functional individuals.</p>
        <hr />
      </div>
    </div>
    <div class="row">
      <% @users.each.with_index do |user, index| %>
          <% if index.odd? %>
              <div class="row">
          <% end %>
          <div class="col-md-2">
            <% if !user.image_url.nil? %>
                <%= image_tag user.image_url, class: 'img-circle img-responsive' %>
            <% else %>
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive">
            <% end %>
          </div>
          <div class="col-md-4">
            <h3 class="text-left"><%= user.name %></h3>

            <% user.quotes.each do |quote, index| %>
            <%= quote.created_at.to_s(:custom_datetime) %>
                <blockquote><%= quote.text %></blockquote>
            <% end %>
          </div>

          <% if index.odd? %>
              </div>
              <br />
          <% end %>
      <% end %>
    </div>
  </div>
</div>
