<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>Recent Purchases <small>displays last 5 purchases</small></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <% @purchases.each do |purchase| %>
        <div class="row">
          <div class="col-md-2">
            <%= image_tag purchase.buyers.first.user.avatar   , class: 'img-circle img-responsive' %>
          </div>
          <div class="col-md-10">
            <h1><%= link_to purchase.item.brand, purchase.item %></h1>
            <h3><%= purchase.item.price_field %></h3>

            </dl>
            <p><%= purchase.item.description %>
            </p>
          </div>
        </div>
        <hr />
    <% end %>
  </div>
</div>
