<div class="section section-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Contributers</h1>
        <p>We are a group of mostly functional individuals.</p>
        <hr />
      </div>
    </div>
    <div class="row">
      <% @users.each.with_index do |user, index| %>
          <% if index.odd? %>
              <div class="row">
          <% end %>
          <div class="col-md-2">
            <% if !user.image_url.nil? %>
                <%= image_tag user.image_url, class: 'img-circle img-responsive' %>
            <% else %>
                <img src="http://pingendo.github.io/pingendo-bootstrap/assets/user_placeholder.png" class="img-circle img-responsive">
            <% end %>
          </div>
          <div class="col-md-4">
            <h3 class="text-left"><%= user.name %></h3>
            <p class="text-left"><%= user.description %></p>
          </div>

          <% if index.odd? %>
              </div>
              <br />
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<footer class="section section-warning">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>Coffee Tracker</h1>
        <p>We are developers that are concerned with /p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="https://twitter.com/uwiscradiology?lang=en"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://www.facebook.com/UWRadiology/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="https://github.com/paramireze/coffee"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="https://twitter.com/uwiscradiology?lang=en"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://www.facebook.com/UWRadiology/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="https://github.com/paramireze/coffee"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer