<footer class="section section-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1><i class="fa fa-download" aria-hidden="true"> </i> <a href="https://cdn.meme.am/instances/65733091.jpg"> Resume.exe</a></h1>
        <p>we are the internet and you can trust us </p>
      </div>
      <div class="col-sm-6">
        <p class="text-info text-right">
          <br>
          <br>
        </p>
        <div class="row">
          <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left">
            <a href="https://twitter.com/uwiscradiology?lang=en"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://www.facebook.com/UWRadiology/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="https://github.com/paramireze/coffee"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 hidden-xs text-right">
            <a href="https://twitter.com/uwiscradiology?lang=en"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a>
            <a href="https://www.facebook.com/UWRadiology/"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
            <a href="https://github.com/paramireze/coffee"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
