<% content_for :before_nav do %>
    <div class="cover">
      <div class="cover-image" id="backgroundImage"></div>
  <% end %>
  <% content_for :after_nav do %>
          <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                <h1 class="text-inverse">Coffee Tracker</h1>
                <p class="text-inverse">Because these things matter</p>
                <br>
                <br>
                <%= link_to 'New Purchase', new_purchase_path, class: "btn btn-primary" %></a>
              </div>
            </div>
          </div>
      </div>
    </div>
<% end %>
