<h1>Welcome</h1>
<h2>This is a header two tag</h2>
<h3>Header three</h3>
<p>paragraphs</p>
<div class="alert alert-info">added new div</div>
<table class="table  table-bordered">
  <tr>
    <th>table column name</th>
    <th>table column two</th>
  </tr>
  <tr>
    <td>table row name</td>
    <td>table row two</td>
  </tr>
  <tr>
    <td>table two</td>
    <td>table three</td>
  </tr>
</table>
<p>Find me in app/views/welcome/home.html.erb</p>
