<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Coffee Tracker</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <%= render 'layouts/navigation_links' %>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <% if session[:user_id] != nil %>
          <%= link_to("Logout", access_logout_path, class: 'nav-link') %>
      <% else %>
          <%= link_to("login", access_login_path, class: 'nav-link') %>
      <% end %>
    </div>
  </div>
</nav>